.wallpaperA {
    position: absolute;
    height: 54%;
    width: 14%;
    bottom: 4.7%;
    right: 4.7%;
    /* size: 50%; */
    border-radius: 6%;
    border-radius: 7.5% 7.5% 6% 6%;
    background-size: 120%;
    background-image: url('../../img/Apple/wallpaper.png');
}

#home {
    padding-top: 27%;
	z-index: 5;
}


.contact {
    position: absolute;
    width: 18%;
    height: 18%;


    float: left;
    margin-left: 7%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Contact.png')
}


.phone {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 30%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Phone.png')
}

#home h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 5.3em;
    color: white;
}

.text {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 53%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Messages.png')
}

.wallet {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 76%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Wallet.png')
}

.twitter {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 7%;
    margin-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Twitter.png')
}

.ad {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 30%;
    margin-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Ads.png')
}

.mail {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 53%;
    margin-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Mail.png')
}

.whitelist {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 76%;
    margin-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Whitelist.png')
}

.fleeca {
    position: absolute;
    width: 18%;
    height: 18%;

    float: left;
    margin-left: 7%;
    margin-top: 57%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/Apple/Fleeca.png')
}

.fleeca h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 5.3em;
    color: white;
}