/*
	Main phone
*/
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
::-webkit-scrollbar { 
    display: none; 
}
.main_phone {
	position: fixed;
	width: 300px;
	height: auto;
	bottom: 480px;
	display: none; 
}
.phone_image {
	width: 100%;
	z-index: -100;
	position:absolute;
}
.phone_screen {
	position: absolute;
	top: 0px;
	margin-top: 79px;
	margin-left: 44px;
	width: 212px;
	z-index: -1;
	height: 380px;
	z-index: 0;
	background-image: url('img/home-background.png');
}
.status_bar {
	width: 100%;
	height: 15px;
	background-color: black;
	font-family: Arial;
	font-size: 11px;
	line-height: 15px;
	padding-right: 3px;
	padding-left: 3px;
	color: white;
}
.status_bar div {
	width: 48%;
	float:left;
}
.status_bar span {
	width: 48%;
	text-align:right;
	float:left;
}
.back_bar {
	width: 100%;
	position: absolute;
	height: 7%;
	background-color: black;
	align-content: middle;
}
.back_img_arrow {
	height: 100%;
	width: 50px;
	float: left;
	margin-left: 33px;
}
.back_img_arrow img {
	height: 100%;
}
.back_img_home {
	height: 100%;
	width: 0px;
	float:left;
	margin-left: 7px;
}
.back_img_home img {
	height: 100%;
}

/*
	Home Screen
*/
#screen-home {
	display: none;
	height: 93%;
}
.home_button {
	width: 40px;
	height: 50px;
	padding: 5px;
	color: white;
	font-size: 8px;
	font-family: Arial;
	text-align: center;
	display: inline-block;
}
.home_button img {
	width: 95%;
	margin-bottom: 2px;
}

/*
	No Sim Screen
*/
#screen-nosim {
	width: 100%;
	height: 100%;
	background-image: url('img/sim.png');
	display: none;
}

/*
	View message screen
*/
#screen-message-view {
	display: none;
	background-color: white;
	width: 100%;
	height: 93%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.view_msg_compose {
	width: 100%;
	height: 70%;
	float:left;
	border-bottom: 1px solid #d1d1d1;
	padding-top: 5px;
}
.view_msg_box {
	width: 100%;
	height: 70%;
	float:left;
	border-bottom: 1px solid #d1d1d1;
	padding-top: 5px;
}
.view_msg_textbox {
	width: 100%;
	height: 25%;
	float:left;
}
.view_msg_textbox textarea {
	width: 80%;
	height: 75%;
	float:left;
	resize: none;
}
.view_msg_textbox button {
	width: 20%;
	height: 75%;
	float:left;
}
.view_msg_textbox input {
	width: 100%;
	height: 25%;
	float:left;
}


/*
	Messages Screen
*/
#screen-messages {
	display: none;
	background-color: white;
	width: 100%;
	height: 93%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.messages_newmessage {
	
}
.msg_box {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d1d1d1;
	padding-top: 5px;
}
.msg_title {
	width: 100%;
	margin: 2px;
	margin-bottom: 4px;
	font-size:14px;
	font-family: Arial;
	font-weight: bold;
}
.messages_newmessage {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color:#a8a8a8;
	border-bottom: 1px solid #d1d1d1;
}
.message_button {
	position: relative;
	height: 35px;
	background-color: #1bb747;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d1d1d1;
}

/*
	Phone (Keypad) Screen
*/
#screen-phone {
	display: none;
	background-color: white;
	width: 100%;
	height: 93%;
}
.call_buttons {
	width: 100%;
	height: 250px;
	padding-left: 20px;
}
.call_number_button {
	position: relative;
	width: 50px;
	line-height: 50px;
	text-align: center;
	height: 50px;
	margin: 3px;
	border: 1px solid #d1d1d1;
	border-radius: 50%;
	float: left;
	font-size: 25px;
	font-family: Arial;
}
.call_input {
	position: relative;
	width: 80%;
	height: 40px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.call_input input {
	width: 100%;
	height: 90%;
	border: 0px;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	border-bottom: 1px solid #d1d1d1;
}
.call_button {
	position: relative;
	height: 35px;
	background-color: #1bb747;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}
.call_icon {
	width: 20%;
	float: left;
	height: 100%;
	border-right: 1px solid white;
}
.call_icon img {
	width: 55%;
	margin: 7px;
	margin-left: 9px;
}
.call_text {
	width: 70%;
	float: left;
	height: 100%;
	font-weight: bold;
	color: white;
	font-family: Arial;
	text-align: center;
	line-height: 35px;
}

/* Talk Bubbles */
.talk-bubble {
	margin-left: 10px;
	margin-bottom: 5px;
  display: inline-block;
  position: relative;
	width: calc(100% - 15px);
	height: auto;
	background-color: #72a6ff;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 2px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -5px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 10px solid;
	border-color: #72a6ff transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 5px;
  padding-left:10px;
  font-size:12px;
  font-family: Arial;
  color: white;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}